[tool.poetry]
name = "rapidpro-python"
version = "2.9.0"
description = "Python client library for the RapidPro API"
authors = ["Nyaruka <code@nyaruka.com>"]
readme = "README.md"
license = "BSD-4-Clause"
classifiers=[
    'Development Status :: 5 - Production/Stable',
    'Intended Audience :: Developers',
    'Topic :: Software Development :: Libraries',
    'License :: OSI Approved :: BSD License',
    'Programming Language :: Python :: 3',
]
packages = [
    { include = "temba_client" },
]

[tool.poetry.urls]
repository = "http://github.com/rapidpro/rapidpro-python"

[tool.poetry.dependencies]
python = "^3.9"
pytz = "*"
requests = "^2.25.0"
iso8601 = "^0.1.13"

[tool.poetry.dev-dependencies]
coverage = "^5.3"
codecov = "^2.1.10"
ruff = "^0.0.171"
isort = "^5.10.1"
black = "^22.10.0"
nose2 = "^0.12.0"

[tool.black]
line-length = 119

[tool.ruff]
line-length = 120
select = ["E", "F", "W"]
ignore = ["E501", "F405"]
fix = true

[tool.isort]
multi_line_output = 3
force_grid_wrap = 0
line_length = 119
include_trailing_comma = true
combine_as_imports = true
sections = ["FUTURE", "STDLIB", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
