[project]
name = "rapidpro-python"
version = "2.18.1"
description = "Python client library for the RapidPro API"
authors = [
    {"name" = "Nyaruka", "email" = "code@nyaruka.com"}
]
readme = "README.md"
license = { text = "BSD-4-Clause" }
classifiers=[
    'Development Status :: 5 - Production/Stable',
    'Intended Audience :: Developers',
    'Topic :: Software Development :: Libraries',
    'License :: OSI Approved :: BSD License',
    'Programming Language :: Python :: 3',
]
requires-python = ">=3.10"
dependencies = [
    "requests >= 2.32.0",
    "iso8601 >= 0.1.13",
]

[tool.poetry]
packages = [
    { include = "temba_client" },
]

[tool.poetry.urls]
"Repository" = "http://github.com/rapidpro/rapidpro-python"

[tool.poetry.group.dev.dependencies]
coverage = "^5.3"
ruff = "^0.0.171"
isort = "^5.10.1"
black = "^24.3.0"
nose2 = "^0.12.0"

[tool.black]
line-length = 119

[tool.ruff]
line-length = 120
select = ["E", "F", "W"]
ignore = ["E501", "F405"]
fix = true

[tool.isort]
multi_line_output = 3
force_grid_wrap = 0
line_length = 119
include_trailing_comma = true
combine_as_imports = true
sections = ["FUTURE", "STDLIB", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]

[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"
